// Specific CSS for your home-page
li {
   display: inline;
   text-align: center;
   padding: 2px ;
   margin: 0;
   width: 19%;
   }


.footer {

  background-color: #f1efb9;
}


.banner {


background-color: #f1efb9;
}


body h3 {

  text-align: center;
  margin: 80px;
}
