<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: 'navbar-wagon-brand' do  %>
    <%= image_tag 'logo.png' %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <%= link_to 'Create a cocktail', new_cocktail_path %>

    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <img src="https://kitt.lewagon.com/placeholder/users/Nosfusia" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
      </div>
    </div>
  </div>
</div>
